accelerate==0.28.0
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1710511536979/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1688651106312/work/dist
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1662382474514/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1691763562544/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1683424013410/work
awscrt==0.19.19
backoff @ file:///home/conda/feedstock_root/build_artifacts/backoff_1665004764738/work
backports.cached-property @ file:///home/conda/feedstock_root/build_artifacts/backports.cached-property_1655884010323/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1687772187254/work
baukit @ git+https://github.com/davidbau/baukit@9d51abd51ebf29769aecc38c4cbef459b731a36e
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1680888073205/work
bitsandbytes==0.42.0
blessed @ file:///home/conda/feedstock_root/build_artifacts/blessed_1666523113356/work
boto3==1.34.71
botocore==1.34.71
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1695621686607/work
build @ file:///home/conda/feedstock_root/build_artifacts/python-build_1682868691601/work
CacheControl @ file:///home/conda/feedstock_root/build_artifacts/cachecontrol-split_1686152218986/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1696001684923/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1688813409104/work
cleo @ file:///home/conda/feedstock_root/build_artifacts/cleo_1669193745932/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1689751945043/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1699041363598/work
crashtest @ file:///home/conda/feedstock_root/build_artifacts/crashtest_1667467006729/work
croniter @ file:///home/conda/feedstock_root/build_artifacts/croniter_1686929181238/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography-split_1706658599627/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
dataclasses-json==0.6.4
datasets @ file:///home/conda/feedstock_root/build_artifacts/datasets_1700261824510/work
dateutils @ file:///home/conda/feedstock_root/build_artifacts/dateutils_1603450192521/work
deepdiff @ file:///home/conda/feedstock_root/build_artifacts/deepdiff_1688668653949/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1690101045195/work
distlib @ file:///home/conda/feedstock_root/build_artifacts/distlib_1689598491484/work
docker-pycreds==0.4.0
docstring_parser==0.16
dulwich @ file:///home/conda/feedstock_root/build_artifacts/dulwich_1701831374201/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1688381075899/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1688757194624/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1686612785345/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1710865510907/work
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1702645481127/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1686342280219/work
future==0.18.3
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1669279893622/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1689017552161/work
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1666808654411/work
google-auth-oauthlib==1.1.0
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1664132893548/work
hf_transfer==0.1.6
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1592930327044/work
huggingface-hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1695757136602/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1688754491823/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1689017639396/work
inquirer @ file:///home/conda/feedstock_root/build_artifacts/inquirer_1678135536462/work
installer @ file:///home/conda/feedstock_root/build_artifacts/python-installer_1679300325491/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1648147185463/work
jaraco.classes @ file:///home/conda/feedstock_root/build_artifacts/jaraco.classes_1689112411129/work
jeepney @ file:///home/conda/feedstock_root/build_artifacts/jeepney_1649085214306/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
jmespath==1.0.1
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1691577114857/work
jsonargparse==4.27.7
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1689687135513/work
jsonschema-specifications @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-specifications_1689701150890/work
keyring @ file:///home/conda/feedstock_root/build_artifacts/keyring_1671728228693/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1695379902431/work
kornia==0.7.0
lightning==2.3.0.dev20240324
lightning-cloud==0.5.64
lightning-utilities @ file:///home/conda/feedstock_root/build_artifacts/lightning-utilities_1688117204588/work
litdata==0.2.2
litgpt==0.2.0
lockfile==0.12.2
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1706899921127/work
marshmallow==3.21.1
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1708026410389/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1639515908913/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1677514956219/work
mpmath==1.3.0
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1700926504817/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1707040698785/work
multiprocess @ file:///home/conda/feedstock_root/build_artifacts/multiprocess_1695458832722/work
munkres==1.1.4
mypy-extensions==1.0.0
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1680692919326/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1707225380409/work/dist/numpy-1.26.4-cp310-cp310-linux_x86_64.whl#sha256=51131fd8fc130cd168aecaf1bc0ea85f92e8ffebf211772ceb16ac2e7f10d7ca
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cufft-cu12==11.0.2.54
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
oauthlib==3.2.2
objprint==0.2.3
ordered-set @ file:///home/conda/feedstock_root/build_artifacts/ordered-set_1643221357603/work
orjson @ file:///home/conda/feedstock_root/build_artifacts/orjson_1708717141072/work/target/wheels/orjson-3.9.15-cp310-cp310-linux_x86_64.whl#sha256=0a7c0fa3196da3711ba9a551dda29e568a20de7d33eccb8ff934934cd44bc414
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1708708607448/work
pathtools==0.1.2
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1675487172403/work
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1673281726124/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1633981968097/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1689538620473/work
ply==3.11
poetry @ file:///home/conda/feedstock_root/build_artifacts/poetry_1685416831839/work
poetry-core @ file:///home/conda/feedstock_root/build_artifacts/poetry-core_1685363087406/work
poetry-plugin-export @ file:///home/conda/feedstock_root/build_artifacts/poetry-plugin-export_1685377684886/work
protobuf==4.23.3
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1705722392846/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pyarrow==12.0.1
pyarrow-hotfix @ file:///home/conda/feedstock_root/build_artifacts/pyarrow-hotfix_1700596371886/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1710626891397/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1681904169130/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1689721553971/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1706660063483/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1687132014935/work
pyproject_hooks @ file:///home/conda/feedstock_root/build_artifacts/pyproject_hooks_1670268672584/work
PyQt5==5.15.9
PyQt5-sip==12.12.2
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-editor==1.0.4
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/python-multipart_1679167423335/work
pytorch-lightning==1.0.8
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1680088766131/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1695373428874/work
rapidfuzz @ file:///home/conda/feedstock_root/build_artifacts/rapidfuzz_1696683891692/work
readchar @ file:///home/conda/feedstock_root/build_artifacts/readchar_1679045163536/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/referencing_1689701127998/work
regex @ file:///home/conda/feedstock_root/build_artifacts/regex_1703393490683/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
requests-oauthlib==1.3.1
requests-toolbelt @ file:///home/conda/feedstock_root/build_artifacts/requests-toolbelt_1682953341151/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich-split_1686591034793/work/dist
rpds-py @ file:///home/conda/feedstock_root/build_artifacts/rpds-py_1707922703488/work
rsa==4.9
s3transfer==0.10.1
sacremoses @ file:///home/conda/feedstock_root/build_artifacts/sacremoses_1651557636210/work
safetensors @ file:///home/conda/feedstock_root/build_artifacts/safetensors_1707377218239/work
scikit-learn==1.4.1.post1
seaborn==0.13.2
SecretStorage @ file:///home/conda/feedstock_root/build_artifacts/secretstorage_1695551734488/work
sentencepiece==0.2.0
sentry-sdk @ file:///home/conda/feedstock_root/build_artifacts/sentry-sdk_1689247857253/work
setproctitle @ file:///home/conda/feedstock_root/build_artifacts/setproctitle_1696431166166/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1676292972954/work
sip @ file:///home/conda/feedstock_root/build_artifacts/sip_1697300428978/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1611376390914/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1658207591808/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette-recipe_1684245096404/work
starsessions @ file:///home/conda/feedstock_root/build_artifacts/starsessions_1659923701614/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1684180540116/work
tensorboard-data-server==0.7.2
threadpoolctl==3.4.0
tokenizers @ file:///home/conda/feedstock_root/build_artifacts/tokenizers_1697470428206/work/bindings/python
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1683028165096/work
torch==2.0.0
torch-fidelity==0.3.0
torchaudio==2.0.0
torchmetrics==1.2.1
torchvision==0.15.0
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1708363098266/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1677948868469/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1675110562325/work
transformers @ file:///home/conda/feedstock_root/build_artifacts/transformers_1700210359279/work
triton==2.0.0
trove-classifiers @ file:///home/conda/feedstock_root/build_artifacts/trove-classifiers_1688674508148/work
typeshed_client==2.5.1
typing-inspect==0.9.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1688315532570/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1707747584337/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1695847980273/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1678635778344/work
uvicorn @ file:///home/conda/feedstock_root/build_artifacts/uvicorn-split_1710932021389/work
virtualenv @ file:///home/conda/feedstock_root/build_artifacts/virtualenv_1689843851427/work
viztracer==0.16.2
wandb @ file:///home/conda/feedstock_root/build_artifacts/wandb_1688654456235/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1673864653149/work
webencodings==0.5.1
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1687789148259/work
websockets @ file:///home/conda/feedstock_root/build_artifacts/websockets_1697914682990/work
xxhash @ file:///home/conda/feedstock_root/build_artifacts/python-xxhash_1696486308932/work
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1705508292061/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1689374466814/work
zstandard==0.22.0
